@import "./font/Chunkfive/stylesheet.css";
@import "./font/SF_Arch_Rival/stylesheet.css";
*{
margin:0;
padding: 0;
}

body {
font-family: 'ChunkFiveRegular', Arial, sans-serif;
}

a {
	text-decoration: none;
}
li {
	float: left;
	list-style: none;
	margin-left: 10px;
}
